$bootcampPrimaryColor: rgb(255,152,3);
$primaryDark:#161515;
$secondaryDark:#2e2a2c;
$primaryLight: rgb(235, 234, 218);
$secondaryLight: rgb(204, 203, 189);



/*-------------------------------------------------------------------------------------INDICATORS COLORS-------------------------------------------------------------------------*/

$indicatorGreen:#2ecc71;
$indicatorRed:#e74c3c;
$indicatorBlue:#3498db;
$indicatorYellow:#f1c40f;
$indicatorGrey:#95a5a6;


