.wrapper {
    @include pagesBackground;
}
.homeBody {
    width: 100%;
    height: calc(100vh-62px);
    padding: 5rem 0;
}

.homeFooter {
    background: $primaryLight;
    height: 62px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.sci {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sci li {
    margin: 0 4rem;
    color: $primaryDark;
}

.sci li i {
    color: $primaryDark;
    font-size: 2.5rem;
    padding: 1.5rem 0;
    @include baseTransition;
    cursor: pointer;
    filter: drop-shadow(0.1rem 0.1rem 0.4rem white);
    &:hover {
        color: $secondaryDark;
        transform: scale(1.1);
    }
}
