.loginLogo{
    width: 6rem;
    height: 6rem;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem black);
}

.loginFooter{
    background:linear-gradient(to left, $primaryLight,$secondaryDark,$primaryLight);
    &:last-child{ 
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.inputLabel{
    @include HeadingFontSizeM;
    @include TextShadow;
}

.loginHeading{
    @include HeadingFontSizeL;
    @include TextShadow;
}

