.listItem {
    @include HeadingFontSizeS;
    @include TextShadow;
    text-align: center;
    padding-top: 0.5rem;
}

.listContainer{

    max-height:78vh;
  @include Srcoll;
    position: relative;
}




.indicator {
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    text-align: center;
    filter: drop-shadow(0.09rem 0.09rem 0 white);
}

.listIndicator{
    @extend .indicator;
    background: $indicatorGreen;
}

.indicator_green{
    @extend .indicator;
    background: $indicatorGreen;
}

.indicator_grey{
    @extend .indicator;
    background: $indicatorGrey;
}

.indicator_red{
    @extend .indicator;
    background: $indicatorRed;
}

.indicator_yellow{
    @extend .indicator;
    background: $indicatorYellow;
}

.indicator_blue{
    @extend .indicator;
    background: $indicatorBlue;
}

.absence {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.absence li {
    margin: 0 0.3rem;
    color: $bootcampPrimaryColor;
}

.absence li i {
    color: $bootcampPrimaryColor;
    font-size: 1rem;
    @include TextShadow;
}

.downloadIcon{
    color: $primaryDark;
    font-size: 2.7rem;
    @include TextShadow;
    @include baseTransition;
&:hover{
    transform: scale(1.1);
    color: $secondaryDark;

}
}

#studentName{
    display: block;
    @include HeadingFontSizeM;
    @include TextShadow;
    
}

.studentCardSpan{
    @include HeadingFontSizeS;
    text-transform: uppercase;
}

.cardAvatar{
    border-radius: 10%;
    filter: drop-shadow(0.1rem 0.1rem 0 white) sepia(60%);
    max-width: 80%;
}

.testName{
    @include HeadingFontSizeS;
    @include TextShadow;
}

.circleSvg{
    height:3rem;
}

.listFiled{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213,212,197);
}

.studentListContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.listItemText{
    max-width: 7rem;
    text-align: center;
    @include HeadingFontSizeS;
    @include TextShadow;
}

.homeWorkWrapper{
    max-height: 25.5rem;
    @include Srcoll;
 
}

.homeWorkStatusForm{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}
