.listItem {
    @include HeadingFontSizeS;
    @include TextShadow;
    text-align: center;
    padding-top: 0.5rem;
}

.listContainer{
    width: 80%;
    max-height:78vh;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.listContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


.indicator {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: rgb(19, 155, 19);
    text-align: center;
    filter: drop-shadow(0.09rem 0.09rem 0 white);
}

.absence {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.absence li {
    margin: 0 0.3rem;
    color: $bootcampPrimaryColor;
}

.absence li i {
    color: $bootcampPrimaryColor;
    font-size: 1rem;
    filter: drop-shadow(0.1rem 0.1rem 0.4rem white);
}

#studentName{
    display: block;
    @include HeadingFontSizeM;
    @include TextShadow;
    
}
