.workbookHeading{
    @include HeadingFontSizeL;
    @include TextShadow;
    text-align: center;
    text-transform: uppercase;
}

.workbookSubheading{
    text-align: center;
    @include HeadingFontSizeM;
    @include TextShadow;
}

.studentHomeworkCardBody{
    background: $secondaryDark;
    max-height: 25.5rem;
    @include Srcoll;
}

.studentTestCardBody{
    @extend .studentHomeworkCardBody;
    height: 25.5rem;
 
}