.aligmentFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    @include c-c ;
}


.flexSpaceBeetween{
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.containerPadding{
    padding-top: 5rem;
}

.marginPadding{
    padding: 0;
    margin: 0;
}