.logoImg{
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    left: 1%;
    top: 0.2%; 

}

.navText, .navBtn{
   @include navigationText   
    
}



.navText:hover {
    transform: scale(1.1);
    background: white;
    border-radius: 0.3rem;
   
}

.navText:active{
    transform: scale(1.1);
    background: white;
    border-radius: 0.3rem;
}