.logoImg{
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    left: 1%;
    top: 0.2%; 
    filter: drop-shadow(0.1rem 0.1rem 0.2rem black);
}

.navText, .navBtn{
   @include navigationText
    
}



.navText:hover {
    transform: scale(1.1);
    background: white;
    border-radius: 0.3rem;
   
}

.navText:active{
    transform: scale(1.1);
    background: white;
    border-radius: 0.3rem;
}